body{
    background-color: red;
    color:yellow;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shake{
    margin-left: auto;
    border-radius: 10vh;
    color:grey;
    font-size: 50%;
    background-color: white;

}

.container{
    border:7px solid white;
    border-radius: 3vh;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    background-color: white;
}
.colors{
    padding-top: 1%;
}
.color{
    width: 5vh;
    height:5vh;
    border-radius: 50%;
}

div button{
    background-color: white;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    
    
}

.right{
    margin-left: auto;
}
.buttons{
    padding-top:10%;
    display: flex;
    width:40vh;
    
}
a{
    text-decoration: none;
    color:grey;
}
.footer{
    position: fixed;
    bottom:0;
    font-size: 1.6vh;
}